<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="note,笔记,随笔,记笔记,简单笔记,笔记本">
	<meta name="description" content="一个简单的网页记笔记的应用，随时随地登录查看。">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<link rel="icon" href="img/note.ico"/>
	<title>我的笔记</title>
	<link rel="stylesheet" href="css/note.css">
</head>
<body>
	<div id="app">
		<div id="topBtn">
			<div class="username" @click="quitShow">
				<span id="uname" class="name">{{uname}}</span>
				<span class="icon-arrow">&lsaquo;</span>
				<ul  class="user-operation" v-show="quitBtn">
					<li class="quit" @click="quitClick">退出登录</li>
				</ul>
			</div>
			<a class="btn-add" @click="addNote">添加note</a>
			<a class="btn-add edit-classify">
				<span class="btn-edit"  @click="editClassify">编辑分类</span>
			</a>
			<a class="btn-search" @click.self="search">
				<transition name="fade">
					<input v-if="isSearch" class="search-input" type="search" v-model="searchKeys" placeholder="输入内容,按Enter键搜索">
				</transition>
			</a>
		</div>
		<div class="nav-list" :class="{navFloat:scrollTop > 50}">
			<div class="scroll-content">
				<a class="nav-item" v-for="(item,index) in navList" :class="{active:index == num}"  @click="getData(item)">{{item}}</a>
			</div>
		</div>
		<div class="container">
			<list-component :listmsg="msg" :edit-fun="editFun" :delete-fun="deleteFun"></list-component>
		</div>
		<a v-show="goTop" class="back-top" @click="backTop"></a>
		<div id="menuBtn" class="btn-menu" @click.self="smallMenu">
			<a class="quit" v-show="menuBtn" @click="quitClick"></a>
			<a class="btn-add" v-show="menuBtn" @click="addNote"></a>
			<a class="btn-add-clas" v-show="menuBtn" @click="editClassify"></a>
			<a class="btn-search" v-show="menuBtn" @click.self="search">
				<transition name="fade">
					<input v-if="isSearch" class="search-input" type="search" v-model="searchKeys" placeholder="输入内容,按Enter键搜索">
				</transition>
			</a>
		</div>

		<!--modal-->
		<transition name="slide-fade">
			<div class="modal" v-if="modalShow">
				<div class="modal-content">
					<a class="btn-close" @click="modalClose">×</a>
					<div class="modal-title">添加note</div>
					<form class="add-form">
						<div class="form-group">
							<label for="addType">类型:</label>
							<select class="input" id="addType" name="type" v-model="add.type">
								<option v-for="(option,index) in navList" :value="option">{{option}}</option>
							</select>
						</div>
						<div class="form-group">
							<label for="addTitle">标题:</label>
							<textarea v-model="add.title" class="input" id="addTitle" type="text" name="title" required placeholder='要添加的标题'></textarea>
						</div>
						<div class="form-group">
							<label for="addSolution">内容:</label>
							<textarea v-model="add.solution" class="input" id="addSolution" type="text" name="solution" required placeholder='要添加的内容'></textarea>
						</div>
					</form>
					<div class="btns">
						<a class="btn-confirm" v-show="addModal" @click="addConfirm(add)">确认</a>
						<a class="btn-confirm" v-show="editModal" @click="editConfirm(add)">确认</a>
						<a class="btn-cancel" @click="modalClose">取消</a>
					</div>
				</div>
			</div>
		</transition>

		<div v-if="isEditClassify" class="classify-edit">
			<div class="classify-list">
				<a class="btn-close" @click="isEditClassify = false">×</a>
				<p class="item" v-for="(item,index) in navList">{{item}}<span class="btn-delete" @click="classifyDelete(index)">删除</span></p>
				<p class="item add-item">
					<input type="text" v-model="classifyAddType" @focus="addKeyDown"> <span class="btn-add-clas" @click="classifyAdd">添加</span>
				</p>
			</div>
		</div>
	</div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/note2.js"></script>
<script>
  //百度推送
  (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
</html>