@charset "utf-8";

@import "base";
@import "login";
body{
  margin: 0 auto;
  font-size: 14px;
  width: 100%;
  max-width: 1080px;
  position: relative;
  padding: 0 10px;
}
.username{
  position: absolute;
  display: inline-block;
  padding: 0 25px 0 10px;
  text-align: center;
  height: 30px;
  line-height: 25px;
  border: 1px solid #eee;
  font-size: 16px;
  border-radius: 3px;
  left: 10px;
  top: 10px;
  cursor: pointer;
  .icon-arrow{
    font-size: 30px;
    position: absolute;
    transform: rotate(-90deg);
    top: 2px;
    right: 11px;
  }
  ul{
    display: none;
    position: absolute;
    left: 0;
    padding: 0 15px;
    margin-top: 4px;
    background-color: #fff;
    border: 1px solid #eee;
    min-width: 100px;
    li{
      width: 100%;
      border-bottom: 1px solid #eee;
      &:last-child{
        border-bottom: 0;
      }
      &:hover{
        color: #0029ff;
      }
    }
  }
}
.btn-add{
  position: absolute;
  display: inline-block;
  width: 100px;
  text-align: center;
  height: 30px;
  line-height: 25px;
  border: 1px solid #eee;
  font-size: 16px;
  border-radius: 3px;
  right: 10px;
  top: 10px;
  &:hover{
    color: #0029ff;
    border-color: #0029ff;
  }
}
.nav-list{
  float: left;
  width: 16%;
  max-width: 180px;
  border: 1px solid #eee;
  margin-top: 50px;
  .nav-item{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px;
    &.active{
      color: #0029ff;
    }
    &:hover{
      color: #0029ff;
    }
  }
}

.container{
  width: 82%;
  float: right;
  min-height: 200px;
  margin: 50px 0;
  padding: 10px 20px 20px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  .item{
    margin-bottom: 10px;
    font-size: 15px;
    //text-align: justify;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    word-wrap: break-word;
    &:last-child{
      border-bottom: 0;
    }
  }
  .title{
    font-weight: 600;
    color: #666;
    line-height: 25px;
  }
  .solution{
    line-height: 25px;
  }

  .time{
    float: left;
  }
  .btn-edit{
    float: left;
    margin-left: 20px;
    &:hover{
      color: #0029ff;
    }
  }
  .btn-delete{
    margin-left: 20px;
    &:hover{
      color: #0029ff;
    }
  }
}

.back-top{
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: url("../img/icon-top.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.nav-float{
  position: fixed;
  top: 0;
  margin: 0;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  .modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    height: 390px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .modal-title{
    text-align: center;
    font-size: 20px;
    margin: 10px 0 20px;
  }
  .form-group{
    *zoom: 1;
    &:before,&:after { display: table;  line-height: 0; content: ""; }
    &:after { clear: both; }

    width: 80%;
    margin: 0 auto 10px;

    label{
      float: left;
      width: 17%;
      text-align: right;
    }
    .input{
      float: right;
      resize: none;
      width: 80%;
      padding: 10px;
      border: 1px solid #eee;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: 16px;
    }
    textarea{
      height: 70px;
      &[name=solution]{
        height: 100px;
      }
    }
    select{
      font-size: 16px;
      &.input{
        padding: 5px 10px;
      }
    }
  }
  .btns{
    width: 80%;
    margin: 40px auto 0;
    height: 30px;
    a{
      display: inline-block;
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .btn-confirm{
      float: left;
      background-color: #0029ff;
      color: #fff;
      margin-left: 80px;
    }
    .btn-cancel{
      float: right;
      border: 1px solid #eee;
    }
  }
}
.btn-close{
  position: absolute;
  font-size: 20px;
  right: 10px;
}
.btn-menu{
  display: none;
  position: fixed;
  bottom: 120px;
  right: 30px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: url("../img/icon-menu.png") no-repeat center;
  -webkit-background-size: 80%;
  background-size: 80%;
  a{
    display: none;
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .quit{
    top: -60px;
    background: url("../img/icon-quit.png") no-repeat center;
    -webkit-background-size: 80%;
    background-size: 80%;
  }
  .btn-add{
    top: -120px;
    background: url("../img/icon-add.png") no-repeat center;
    -webkit-background-size: 80%;
    background-size: 80%;
    &:hover{
      border: 1px solid #ccc;
    }
  }
}

//退出确认
.quit-confirm{
  position: fixed;
  width: 100%;
  max-width: 769px;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 1000;
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff;
  }
  .prompt{
    height: 2rem;
    line-height: 2rem;
    text-align: center;
  }
  .btns{
    height: 0.8rem;
    >div{
      float: left;
      width: 50%;
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
    }
    .btn-cancel{
      border: 1px solid #eee {
        left: 0;
        bottom: 0;
      };
    }
    .btn-confirm{
      background-color: #3399ff;
      color: #fff;
    }
  }
}
@media screen and (max-width: 769px) {
  .login{
    width: 80%;
  }
  .nav-list{
    position: fixed;
    margin: 0;
    top:0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    .nav-item{
      width: 33%;
      text-align: center;
      float: left;
      padding: 0;
      &.active{
        border-bottom: 1px solid #0029ff;
      }
    }
  }
  .container{
    width: 100%;
    border: 0;
  }
  .modal{
    .modal-content{
      width: 95%;
      height: auto;
      padding-bottom: 20px;
      .form-group{
        width: 95%;
        label {
          width: 19%;
        }
      }
    }
    .btns{
      .btn-confirm{
        margin-left: 42px;
      }
    }
  }
  .username{
    display: none;
  }
  .btn-menu{
    display: block;
  }
}

//添加a标签链接
.add-link{
  color: blue;
}















