@charset "UTF-8";
header, footer, body, div, dl, dt, dd, ul, ol, li, a, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, iframe {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldest, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

capation, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  text-decoration: none;
  color: #83868a; }

a:hover {
  cursor: pointer; }

.fl {
  float: left !important; }

.fr {
  float: right !important; }

img {
  max-width: 100%;
  vertical-align: middle; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: ""; }
  .clearfix:after {
    clear: both; }

iframe {
  vertical-align: middle; }

/*消除input type为number的上下角标 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  /*不使用默认样式右边小XX*/ }

/*placeholder文字颜色统一*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b5b5b5; }
input:-moz-placeholder, textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b5b5b5; }
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b5b5b5; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b5b5b5; }

.login {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-top: 20px; }
  .login .input-group {
    width: 90%;
    margin: 20px auto 0;
    height: 40px; }
    .login .input-group input {
      width: 100%;
      height: 100%;
      line-height: 40px;
      outline: none;
      border: 0;
      border-bottom: 1px solid #ccc; }

.btn-login {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
  margin: 20px 20px 0 0;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer; }

body {
  margin: 0 auto;
  font-size: 14px;
  width: 100%;
  max-width: 1080px;
  position: relative;
  padding: 0 10px; }

.username {
  position: absolute;
  display: inline-block;
  padding: 0 25px 0 10px;
  text-align: center;
  height: 30px;
  line-height: 25px;
  border: 1px solid #eee;
  font-size: 16px;
  border-radius: 3px;
  left: 10px;
  top: 10px;
  cursor: pointer; }
  .username .icon-arrow {
    font-size: 30px;
    position: absolute;
    transform: rotate(-90deg);
    top: 2px;
    right: 11px; }
  .username ul {
    display: none;
    position: absolute;
    left: 0;
    padding: 0 15px;
    margin-top: 4px;
    background-color: #fff;
    border: 1px solid #eee;
    min-width: 100px; }
    .username ul li {
      width: 100%;
      border-bottom: 1px solid #eee; }
      .username ul li:last-child {
        border-bottom: 0; }
      .username ul li:hover {
        color: #0029ff; }

.btn-add {
  position: absolute;
  display: inline-block;
  width: 100px;
  text-align: center;
  height: 30px;
  line-height: 25px;
  border: 1px solid #eee;
  font-size: 16px;
  border-radius: 3px;
  right: 10px;
  top: 10px; }
  .btn-add:hover {
    color: #0029ff;
    border-color: #0029ff; }

.nav-list {
  float: left;
  width: 16%;
  max-width: 180px;
  border: 1px solid #eee;
  margin-top: 50px; }
  .nav-list .nav-item {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 16px; }
    .nav-list .nav-item.active {
      color: #0029ff; }
    .nav-list .nav-item:hover {
      color: #0029ff; }

.container {
  width: 82%;
  float: right;
  min-height: 200px;
  margin: 50px 0;
  padding: 10px 20px 20px;
  border: 1px solid #DFDFDF;
  border-radius: 5px; }
  .container .item {
    margin-bottom: 10px;
    font-size: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    word-wrap: break-word; }
    .container .item:last-child {
      border-bottom: 0; }
  .container .title {
    font-weight: 600;
    color: #666;
    line-height: 25px; }
  .container .solution {
    line-height: 25px; }
  .container .time {
    float: left; }
  .container .btn-edit {
    float: left;
    margin-left: 20px; }
    .container .btn-edit:hover {
      color: #0029ff; }
  .container .btn-delete {
    margin-left: 20px; }
    .container .btn-delete:hover {
      color: #0029ff; }

.back-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: url("../img/icon-top.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain; }

.nav-float {
  position: fixed;
  top: 0;
  margin: 0; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); }
  .modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    height: 390px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
  .modal .modal-title {
    text-align: center;
    font-size: 20px;
    margin: 10px 0 20px; }
  .modal .form-group {
    *zoom: 1;
    width: 80%;
    margin: 0 auto 10px; }
    .modal .form-group:before, .modal .form-group:after {
      display: table;
      line-height: 0;
      content: ""; }
    .modal .form-group:after {
      clear: both; }
    .modal .form-group label {
      float: left;
      width: 17%;
      text-align: right; }
    .modal .form-group .input {
      float: right;
      resize: none;
      width: 80%;
      padding: 10px;
      border: 1px solid #eee;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      font-size: 16px; }
    .modal .form-group textarea {
      height: 70px; }
      .modal .form-group textarea[name=solution] {
        height: 100px; }
    .modal .form-group select {
      font-size: 16px; }
      .modal .form-group select.input {
        padding: 5px 10px; }
  .modal .btns {
    width: 80%;
    margin: 40px auto 0;
    height: 30px; }
    .modal .btns a {
      display: inline-block;
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
    .modal .btns .btn-confirm {
      float: left;
      background-color: #0029ff;
      color: #fff;
      margin-left: 80px; }
    .modal .btns .btn-cancel {
      float: right;
      border: 1px solid #eee; }

.btn-close {
  position: absolute;
  font-size: 20px;
  right: 10px; }

.btn-menu {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 30px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: url("../img/icon-menu.png") no-repeat center;
  -webkit-background-size: 80%;
  background-size: 80%; }
  .btn-menu a {
    display: none;
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .btn-menu .quit {
    top: -60px;
    background: url("../img/icon-quit.png") no-repeat center;
    -webkit-background-size: 80%;
    background-size: 80%; }
  .btn-menu .btn-add {
    top: -120px;
    background: url("../img/icon-add.png") no-repeat center;
    -webkit-background-size: 80%;
    background-size: 80%; }
    .btn-menu .btn-add:hover {
      border: 1px solid #ccc; }

.quit-confirm {
  position: fixed;
  width: 100%;
  max-width: 769px;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000; }
  .quit-confirm .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fff; }
  .quit-confirm .prompt {
    height: 2rem;
    line-height: 2rem;
    text-align: center; }
  .quit-confirm .btns {
    height: 0.8rem; }
    .quit-confirm .btns > div {
      float: left;
      width: 50%;
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center; }
    .quit-confirm .btns .btn-cancel {
      border: 1px solid #eee;
        border-left: 0;
        border-bottom: 0; }
    .quit-confirm .btns .btn-confirm {
      background-color: #3399ff;
      color: #fff; }

@media screen and (max-width: 769px) {
  .login {
    width: 80%; }

  .nav-list {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: #fff; }
    .nav-list .nav-item {
      width: 33%;
      text-align: center;
      float: left;
      padding: 0; }
      .nav-list .nav-item.active {
        border-bottom: 1px solid #0029ff; }

  .container {
    width: 100%;
    border: 0; }

  .modal .modal-content {
    width: 95%;
    height: auto;
    padding-bottom: 20px; }
    .modal .modal-content .form-group {
      width: 95%; }
      .modal .modal-content .form-group label {
        width: 19%; }
  .modal .btns .btn-confirm {
    margin-left: 42px; }

  .username {
    display: none; }

  .btn-menu {
    display: block; } }
.add-link {
  color: blue; }

/*# sourceMappingURL=note.css.map */
